{# src/SR/BlogBundle/Resources/views/Event/addCategory.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}

{# Le formulaire reste inchangé #}
<div class="well">
  {{ form(form) }}
</div>


{% endblock %}