<ul class="sidebar-recent-post">
	{% if listEvent is not empty %}
		{% for event in listEvent %}
			<li>
				<div class="info">
					<h4 class="title"><a href="{{ path('sr_blog_evenement_view', {'slug': event.slug}) }}">{{ event.title }}</a></h4>
					<div class="date">{{event.postDate|localizeddate('none', 'none', null, null, 'd MMMM Y')}}</div>
				</div>
			</li>
		{% endfor %}
	{% else %}
    	<p>Aucun évenement à venir</p></br>
	{% endif %}
</ul>