{# src/SR/BlogBundle/Resources/views/Comment/delete.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}


  <h2>Supprimer un commentaire</h2>

  <p>
    Etes-vous certain de vouloir supprimer le commentaire "{{ comment.content }}" ?
  </p>

  {# On met l'id du commentaire dans la route de l'action du formulaire #}
  
  <form action="{{ path('sr_blog_evenement_comment_delete', {'id': comment.id}) }}" method="post">
    <a href="{{ path('sr_blog_evenement_view', {'slug': comment.event.slug}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'événement
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}