{# src/SR/BlogBundle/Resources/views/Comment/formNews.html.twig #}

<form action="{{ path('sr_blog_comment_create_news', { 'id' : comment.news.id } ) }}" method="post" {{ form_enctype(form) }} class="blogger">
    {{ form_widget(form) }}
    <p>
        
    </p>
</form>