{% extends 'SRBlogBundle::modal.html.twig' %}

{% block modal_title %}
  Supprimer cet article
{% endblock %}

{% block modal_body %}
  <p>Etes-vous sûr de vouloir supprimer cet article ? </p>
  {{ form(form) }}
{% endblock %}


