<ul class="sidebar-list">
	{% if listNews is not empty %}
		{% for news in listNews %}
			<li><a href="{{ path('sr_blog_article_view', {'slug': news.slug}) }}">{{ news.title }}</a></li>
		{% endfor %}
	{% else %}
	        <p>Aucun article</p></br>
    {% endif %}
</ul>