{# src/SR/BlogBundle/Resources/views/Soutien/contact.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}

<h1>Confirmation</h1>

<p>Votre message a bien été envoyé.</p>
    <a href="{{ path('sr_blog_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'accueil
    </a>
{% endblock %}