{# src/SR/BlogBundle/Resources/views/Soutien/don.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}

<h2>ADHÉSION À L’ASSOCIATION</h2>


<p>Pour adhérer, il vous suffit de nous renvoyer sur papier libre vos:</p>

<ul>
	<li>Nom, Prénom</li>
	<li>Adresse</li>
	<li>Téléphone</li>
	<li>Mail</li>
</ul>
	
<p>en joignant le montant de votre cotisation annuelle par chèque à l’ordre d’Ahuefa et de nous l’envoyer par courrier postal à : </p>

<ul>
	<p>Association AHUEFA</p>
	<p>13, rue Courtois</p>
	<p>93500 Pantin.</p>
</ul>

<p>Tarif de Soutien : à partir de 10€</p>
<p>Tarifs Cotisation annuelle :</p>
<p>Membre actif : 10€</p>
<p>Etudiant : 5€ (sur justificatif)</p>
<p>Nous contacter : Tél: 01 48 45 93 23</p>

{% endblock %}