<div class="section-container">
    <h4 class="section-title m-b-20"><span>{{ typeContact }}</span></h4>
    <p class="m-b-30 f-s-13">
        {{ message }}
    </p>
    <!-- begin row -->
    <div class="row row-space-30 f-s-12 text-inverse">
        <!-- begin col-8 -->
        <div class="col-md-8">
            <form class="form-horizontal" action="{{path('sr_blog_contact_send',{'typeContact': typeContact})}}" method="post">
                <div class="form-group">
                    <label class="control-label col-md-3">Nom <span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <input class="form-control" name="name" placeholder="Votre Nom" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Prénom <span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <input class="form-control" name="firstname" placeholder="Votre Prénom" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Email <span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <input class="form-control" name="email" type="text" placeholder="Votre Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Téléphone <span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <input class="form-control" name="phone" type="text" placeholder="Votre N° de téléphone" >
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Message <span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <textarea class="form-control" rows="10" name="message" placeholder="Entrer votre message ici. Nous vous répondrons le plus rapidement possible."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3"></label>
                    <div class="col-md-9 text-left">
                        <button type="submit" class="btn btn-inverse btn-lg btn-block">Envoyer</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- end col-8 -->
        <!-- begin col-4 -->
        <div class="col-md-4">
            <p>
                <strong>Association AHUEFA</strong><br>
                13, rue Courtois<br>
                93500 Pantin<br>
            </p>
            <p>
                <span class="phone"> 01 48 45 93 23</span><br>
                <a href="mailto:hello@emailaddress.com">ahuefai.france@gmail.com</a>
            </p>
        </div>
        <!-- end col-4 -->
    </div>
    <!-- end row -->
</div>