{% extends "SRBlogBundle::layout.html.twig" %}

{% block content %}
<div class="contenu_static">
          <h2> Nos actions</h2>

          <p>
       Aide psychologique aux familles en situation de rupture, en état de crise et de précarité, induisant des débordements L’association AHUEFA effectue diverses actions :

Soutien aux familles dans le cadre de consultations de médiation ethnoclinique.
Soutien et formation des professionnels du milieu médico-social (rencontres, séminaires).
Organisation d’évènements culturels ouverts à la diversité et à la réflexion citoyenne : projections et débats (cf. Le Voyage Transculturel), rencontres.
Intervention dans les écoles sur la multiculturalité.p>

</div>
{% endblock %}