{# src/SR/BlogBundle/Resources/views/Main/appuiPro.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}
<div class="contenu_static">   
	<h2>L’appui technique aux professionnels</h2>

	<h3>Un espace de construction de sens</h3>

	<p>
	L’appui technique est proposé aux professionnels seuls, comme espace de construction de sens qui aide à repenser certaines situations complexes.
	</p>

	<p>
	Les professionnels du champ médico-social confrontés à des difficultés particulières dans leur mission auprès des familles et dont les outils habituels n’aboutissent pas aux résultats attendus peuvent avoir recours à cet appui.
	</p>

	<p>
	Il consiste en une rencontre où le professionnel demandeur expose la situation de la famille et les difficultés qu’il rencontre. L’ethnopsychologue en charge de cette rencontre tente d’apporter les éclairages et les outils pour débloquer la situation et explorer de nouvelles pistes.
	</p>

	<p>
	Ces séances se déroulent dans le strict respect du secret professionnel.
	</p>
</div>    

{% endblock %}