{% extends "SRBlogBundle::layout.html.twig" %}

{% block content %}
    <h2>Suivi individuel</h2>

    <p>Nous recevons en consultation individuelle des enfants, des adolescents et/ou des adultes.</p>
    <p>Le psychologue écoute, interroge et met en place un accompagnement spécifique pour vous aider à surmonter vos
        difficultés. Chaque histoire de vie étant différente, le problème peut se résoudre en plus ou moins quelques séances.
    </p>
    <p>Le psychologue peut vous proposer un suivi psychologique ou un suivi thérapeutique.</p>

    <h3>Le suivi psychologique</h3>

    <p>Le suivi psychologique s’adresse à tous. Nous accueillons individuellement la personne qui le souhaite en suivi
        classique et/ou ethnoclinique (enfant, primo-arrivant enfant ou adulte, homme, ou femme  enceinte).
    </p>
    <ul>
        <li><strong>Suivi classique avec thérapeute seul</strong></li>
        <p>La durée moyenne d’une consultation est de 45 minutes.</p>
        <li><strong>Suivi ethnoclinique</strong> (thérapeute  formé à l’ethnopsychanalyse avec interprète) en direction des jeunes étrangers isolés</li>
        <p>La durée moyenne d’une consultation est d’une heure.</p>
    </ul>
    <p>La fréquence des consultations est à déterminer en fonction de chaque situation.</p>

    <h3>Le suivi psychothérapeutique</h3>
    <p>Les raisons de consulter peuvent être multiples. Pour les enfants plus grands, les adolescents et les adultes, les
        problématiques sont diverses et variées : timidité, problèmes alimentaires, troubles du sommeil, solitude,
        maladies, deuils, ruptures, estime de soi, dépression…
    </p>
    <p>
        Le suivi est un temps d’accompagnement dans la réflexion et le questionnement de la souffrance, du symptôme et
        plus généralement des difficultés à vivre. Ce temps permet d’analyser, de déconstruire et de comprendre les
        raisons des troubles. La psychothérapie permet d’apaiser le mal être ressenti, de redonner confiance en soi,
        d’identifier les blocages et de mobiliser ses ressources personnelles pour être plus autonomes dans ses choix de vie.
    </p>
    <p>
        La fréquence des séances de thérapies est déterminée en fonctions des troubles ou des pathologies traitées et de
        la capacité de la personne à s’engager dans le travail et à s’impliquer dans un processus de changement.
        Un suivi hebdomadaire est préconisé lorsque la personne est en grande souffrance. Les séances peuvent s’espacer
        à 15 jours d’un commun accord avec le psychologue et le patient.
    </p>

    <h3>Cadre de notre travail</h3>
    <p>Nous répondons aux obligations morales du  Code de déontologie des psychologues cliniciens, diplôme national qui
        exige l'obtention du Master II de Psychologie Clinique à l'Université de Psychologie et qui est reconnu par l'Etat.
        Nous respectons alors les principes de respect du patient, de secret professionnel et de l'anonymat.
    </p>
    <p>Les consultations se déroulent du lundi au jeudi et le samedi avec une des psychologues.</p>
    <p>Vous pouvez nous contacter pour un premier rendez-vous au 01 48 45 93 23. </p>

    
{% endblock %}