 {# src/SR/BlogBundle/Resources/views/Main/consultation.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}
          <h2> Consultation Psychologique Individuelle</h2></br>

         <p>PAGE EN CONSTRUCTION</p> 



    
{% endblock %}