 {# src/SR/BlogBundle/Resources/views/Main/consultation.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}
          <p> Consultation psychologique individuelle</p></br>

          <p>

Mettre du contenu pour cette section. Demander à Rogi

    </p>
{% endblock %}