{# src/SR/BlogBundle/Resources/views/Main/equipe.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}

<div class="contenu_static">   
				<section id="team2" class="mt15">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h2>Notre équipe</h2>
							</div> 
						</div>
						<div class="row mb30">
							<div class="col-xs-2">
								<img src="https://lh3.googleusercontent.com/-WYfqlbJVGqc/AAAAAAAAAAI/AAAAAAAA8O8/UuNiFFYU2vY/photo.jpg" class="img-circle img-responsive" alt="HIDEO website template">
							</div>
							<div class="col-xs-10">
								<h3>Léocadie Ekoué &mdash; Psychologue clinicienne</h3>
								<p>Fondatrice et directrice de l’association AHUEFA INTERNATIONAL France (1996), sise à Pantin, Seine saint Denis Création d’une consultation de médiation ethnoclinique, psychologue clinicienne et thérapeute principale de cette consultation depuis 1996 Ile de France. 
								</p>
								<a href="mailto:your.email@little-neko.com">j.doe@fat-catz.com</a>
								<ul class="socialNetwork mt15">
									<li><a href="#" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded iconSmall"></i></a></li>
									<li><a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="icon-twitter-bird iconRounded iconSmall"></i></a></li>
									<li><a href="#" class="tips" title="" data-original-title="follow me on Google+"><i class="icon-gplus-1 iconRounded iconSmall"></i></a></li>
									<li><a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded iconSmall"></i></a></li>
									<li><a href="#" class="tips" title="" data-original-title="follow me on Dribble"><i class="icon-dribbble iconRounded iconSmall"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="row mb30">
							<div class="col-xs-2">
								<img src="http://images.itnewsinfo.com/lmi/articles/originale/000000029947.jpg" class="img-circle img-responsive" alt="HIDEO website template">
							</div>
							<div class="col-xs-10">
								<h3>Rogini Ranjan &mdash; Psychologue clinicienne </h3>
								<p>Just at this moment Alice felt a very curious sensation, which puzzled her a good deal.
								</p>
								<a href="mailto:your.email@little-neko.com">a.doe@fat-catz.com</a>
								<ul class="socialNetwork mt15">
									<li><a href="#" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded iconSmall"></i></a></li>
									<li><a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="icon-twitter-bird iconRounded iconSmall"></i></a></li>
									<li><a href="#" class="tips" title="" data-original-title="follow me on Google+"><i class="icon-gplus-1 iconRounded iconSmall"></i></a></li>
									<li><a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded iconSmall"></i></a></li>
									<li><a href="#" class="tips" title="" data-original-title="follow me on YouTube"><i class="icon-youtube iconRounded iconSmall"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="row mb30">
							<div class="col-xs-2">
								<img src="https://lh3.googleusercontent.com/-WYfqlbJVGqc/AAAAAAAAAAI/AAAAAAAA8O8/UuNiFFYU2vY/photo.jpg" class="img-circle img-responsive" alt="HIDEO website template">
							</div>
							<div class="col-xs-10">
								<h3>PAMELA ANDERSON &mdash; Programmer</h3>
								<p>She was beginning to grow larger again, and she thought at first she would get up and leave the court
								</p>
								<a href="mailto:your.email@little-neko.com">j.doe@fat-catz.com</a>
								<ul class="socialNetwork mt15">
									<li><a href="#" class="tips" title="" data-original-title="follow me on Facebook"><i class="icon-facebook-1 iconRounded iconSmall"></i></a></li>
									<li><a href="#" class="tips" title="" data-original-title="follow me on Twitter"><i class="icon-twitter-bird iconRounded iconSmall"></i></a></li>
									<li><a href="#" class="tips" title="" data-original-title="follow me on Google+"><i class="icon-gplus-1 iconRounded iconSmall"></i></a></li>
									<li><a href="#" class="tips" title="" data-original-title="follow me on Linkedin"><i class="icon-linkedin-1 iconRounded iconSmall"></i></a></li>
									<li><a href="#" class="tips" title="" data-original-title="follow me on Dribble"><i class="icon-dribbble iconRounded iconSmall"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>


</div>

{% endblock %}