{# src/SR/BlogBundle/Resources/views/Main/equipe.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}


				<section id="team2" class="mt15">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h2>Notre équipe</h2>
							</div> 
						</div>
						<div class="row">
							<div class="col-xs-2">
								<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://laforgecollective.fr/wp-content/uploads/2015/03/inconnu.jpeg&sa=X&ei=MKxDVdyDE83aaPGMgagI&ved=0CAkQ8wc4PQ&usg=AFQjCNEF86wXIi-wZtODJqCo4NxTwqgPJw" class="img-circle img-responsive" alt="HIDEO website template">
							</div>
							<div class="col-md-6">
								<h3>Léocadie Ekoué &mdash; Psychologue clinicienne et anthropologue</h3>
								<p>Fondatrice et directrice de l’association AHUEFA INTERNATIONAL France (1996), sise à Pantin, Seine saint Denis Création d’une consultation de médiation ethnoclinique, psychologue clinicienne et thérapeute principale de cette consultation depuis 1996 Ile de France. 
								</p>
								<a href="mailto:your.email@little-neko.com">l.ekoue@hotmail.fr</a>

							</div>
						</div>

						<div class="space">  </div>
						<div class="space">  </div>
						
						<div class="row">
							<div class="col-xs-2">
								<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://laforgecollective.fr/wp-content/uploads/2015/03/inconnu.jpeg&sa=X&ei=MKxDVdyDE83aaPGMgagI&ved=0CAkQ8wc4PQ&usg=AFQjCNEF86wXIi-wZtODJqCo4NxTwqgPJw" class="img-circle img-responsive" alt="HIDEO website template">
							</div>
							<div class="col-md-6">
								<h3>Rogini Sagadevin &mdash; Psychologue clinicienne </h3>
								
								

							</div>
						</div>

						<div class="space">  </div>
						<div class="space">  </div>

					<div class="row">
							<div class="col-xs-2">
								<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://laforgecollective.fr/wp-content/uploads/2015/03/inconnu.jpeg&sa=X&ei=MKxDVdyDE83aaPGMgagI&ved=0CAkQ8wc4PQ&usg=AFQjCNEF86wXIi-wZtODJqCo4NxTwqgPJw" class="img-circle img-responsive" alt="HIDEO website template">
							</div>
							<div class="col-md-6">
								<h3>Mary-Grâce Lauron &mdash; Psychologue clinicienne </h3>
								
								

							</div>
					</div>
						<div class="space">  </div>
						<div class="space">  </div>

					<div class="row">
							<div class="col-xs-2">
								<img src="http://www.google.fr/url?source=imglanding&ct=img&q=http://laforgecollective.fr/wp-content/uploads/2015/03/inconnu.jpeg&sa=X&ei=MKxDVdyDE83aaPGMgagI&ved=0CAkQ8wc4PQ&usg=AFQjCNEF86wXIi-wZtODJqCo4NxTwqgPJw" class="img-circle img-responsive" alt="HIDEO website template">
							</div>
							<div class="col-md-6">
								<h3>Laura Tarafas &mdash; Psychologue clinicienne </h3>
								
								

							</div>
					</div>



					
					</div>
				</section>




{% endblock %}