{# src/SR/BlogBundle/Resources/views/Main/equipe.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}
          <p> Notre équipe</p></br>

          <p>
          Mettre les photos avec présentation de l'équipe
    </p>
{% endblock %}