{% extends "SRBlogBundle::layout.html.twig" %}

{% block content %}


			<div class="row">
				<div class="col-md-12">
				<h2>Notre équipe</h2>
			</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<img src="{{ asset('bundles/srblog/images/leocadie.jpg') }}" class="img-circle img-responsive" alt="leocadie_photos">
				</div>
				<div class="col-md-8">
					<h3>Léocadie Ekoué &mdash; Psychologue clinicienne et anthropologue</h3>
					{#<p>Fondatrice et directrice de l’association AHUEFA INTERNATIONAL France (1996), sise à Pantin, Seine saint Denis</p>#}
					{#<p>Création d’une consultation de médiation ethnoclinique, psychologue clinicienne et thérapeute principale de cette consultation depuis 1996</p>#}

				</div>
			</div>

			<div class="space"></div>
			<div class="space"></div>

			<div class="row">
				<div class="col-md-2">
					<img src="{{ asset('bundles/srblog/images/rogini.jpg') }}" class="img-circle img-responsive" alt="rogini_photo">
				</div>
					<div class="col-md-8">
						<h3>Rogini Sagadevin &mdash; Psychologue clinicienne </h3>
					</div>
			</div>

			<div class="space"></div>
			<div class="space"></div>

			<div class="row">
				<div class="col-md-2">
					<img src="{{ asset('bundles/srblog/images/mary_grace.jpg') }}" class="img-circle img-responsive" alt="mary_grace_photo">
				</div>
				<div class="col-md-8">
					<h3>Mary-Grâce Lauron &mdash; Psychologue clinicienne </h3>
				</div>
			</div>

			<div class="space"></div>
			<div class="space"></div>

			<div class="row">
				<div class="col-md-2">
					<img src="{{ asset('bundles/srblog/images/fatoumata_tandia.jpg') }}" class="img-circle img-responsive" alt="fatoumata_tandia_photo">
				</div>
				<div class="col-md-8">
					<h3>Fatoumata Tandia &mdash; Interprète/référent culturel </h3>
				</div>
			</div>


{% endblock %}