{% extends "SRBlogBundle::layout.html.twig" %}

{% block content %}
<div class="contenu_static">
	<h2>AHUEFA INTERNATIONAL FRANCE</h2>
	
	<p>
		Ahuefa est une association Loi 1901, créée le 22 février 1996. Nous intervenons pour proposer

		une aide psychologique auprès de familles issues de diverses cultures. Nous intervenons dans

		toute l’Ile-de-France.
	</p>

	<p>
		Ahuefa est composée d’une équipe de psychologues cliniciens, médecins et interprètes

		ouverts à la pluridisciplinarité  (ethnopsychologie, anthropologie, sociologie…) tous formés à

		l‘approche transculturelle et qui ont pour socle commun de penser la diversité et la culture.
	</p>

	<p>
		Nous proposons un travail psychothérapeutique en direction de familles ou personnes

		individuelles toutes origines confondues. Nous nous appuyons notamment sur

		l’ethnopsychanalyse afin de mieux prendre en compte les transmissions transgénérationnelles

		et inconscientes.
	</p>

	<p>
		Nos activités sont diverses : médiation ethnoclinique, suivi individuel, visite médiatisée,

		séminaires/formations, groupes de parole, voyage transculturel  (ciné débats), soutien de tout

		projet concernant la relation mère-enfant en France et dans le monde.

		L’association propose également un espace de réflexion aux travailleurs médico-sociaux et aux

		institutions administratives sous forme de synthèses, d’analyses des pratiques ou de

		supervisions.
	</p>

	<p>
		Toutes nos interventions se déroulent dans le strict respect du secret professionnel et sont

		soumises au <a href="{{ asset('document/Code-deonto2012.pdf') }}">Code de déontologie des psychologues</a>.
	</p>


	<h2>QUE VEUT DIRE LE MOT AHUEFA ?</h2>

	<p> <span class="italic">« Ahuefa »</span> est un prénom togolais donné aux filles nées dans une famille ayant connu des difficultés et signifie <span class="italic">« la paix retrouvée dans le foyer. »</span> Par ailleurs le mot <span class="italic">« Fa »</span> désigne l’entité de la vérité qui est à l’œuvre dans tout acte thérapeutique traditionnel.</p>
	<p>
		« Ahuefa » est un prénom évhé togolais donné aux filles nées dans une famille ayant connu

		des difficultés et signifie « <em>la paix retrouvée dans le foyer. </em>»  Par ailleurs le mot « Fa » désigne

		l’entité de la vérité qui est à l’œuvre dans tout acte thérapeutique traditionnel.
	</p>

</div>
{% endblock %}