{# src/SR/BlogBundle/Resources/views/Main/historique.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}
<div class="contenu_static">
	<h2> Notre Historique</h2>

	<h3>Ahuefa International France, qu’est-ce que c’est ?</h3>
	
	<p>
	Nous sommes une association de Loi 1901, créée en 1996 et nous intervenons pour proposer une aide psychologique auprès de familles issues de diverses cultures. Nous intervenons dans toute l’Ile-de-France.
	</p>

	<p>
	L’équipe d’Ahuefa est composée de professionnels de formations diverses, mais qui ont pour socle commun de penser la diversité et la culture. Il s’y trouve des ethnopsychologues, des psychologues cliniciens, des anthropologues et des interprètes, tous formés à l‘approche transculturelle.
	</p>

	<p>
	L’association a pour objet l’aide psychologique pour les migrants, l’ethnopsychanalyse, l’élaboration de documents de travail pour les psychologues et le soutien de tout projet concernant la relation mère-enfant en France et dans le monde. Elle s’inscrit dans la démarche de la psychologie clinique en abordant le transculturel.
	</p>

	<p>
	L’association a pour objet l’aide psychologique pour les migrants, l’ethnopsychanalyse, l’élaboration de documents de travail pour les psychologues et le soutien de tout projet concernant la relation mère-enfant en France et dans le monde. Elle s’inscrit dans la démarche de la psychologie clinique en abordant le transculturel.
	</p>

	<p>
	L’association propose également une aide aux travailleurs médico-sociaux et aux institutions administratives, qui sont confrontées auprès de leurs interlocuteurs, à des problématiques relevant des différences culturelles.
	</p>

	<p>
	Toutes nos interventions se déroulent dans le strict respect du secret professionnel et sont soumises au Code de déontologie des psychologues.
	</p>

	<p>
	Enfin, l’association organise régulièrement des séminaires et des évènements, comme le <a href="{{path('sr_blog_actions_voyage_transculturel')}}">Voyage transculturel</a>, afin de partager et de penser la diversité culturelle en relation avec le développement dans la Cité. Ceci constitue l’occasion de rencontres précieuses et chères à Ahuefa, et de faire la promotion d’artistes, de réalisateurs et de musiciens.
	</p>

	<h3>Que veut dire Ahuefa ?</h3>

	<p> <span class="italic">« Ahuefa »</span> est un prénom togolais donné aux filles nées dans une famille ayant connu des difficultés et signifie <span class="italic">« la paix retrouvée dans le foyer. »</span> Par ailleurs le mot <span class="italic">« Fa »</span> désigne l’entité de la vérité qui est à l’œuvre dans tout acte thérapeutique traditionnel.</p>


</div>
{% endblock %}