{# src/SR/BlogBundle/Resources/views/Main/historique.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}
          <p> Notre Historique</p></br>

          <p>
          Nous sommes une association de Loi 1901, créée en 1996 et nous intervenons pour proposer une aide psychologique auprès de familles issues de diverses cultures. Nous intervenons dans toute l’Ile-de-France.

L’équipe d’Ahuefa est composée de professionnels de formations diverses, mais qui ont pour socle commun de penser la diversité et la culture. Il s’y trouve des ethnopsychologues, des psychologues cliniciens, des anthropologues et des interprètes, tous formés à l‘approche transculturelle.

L’association a pour objet l’aide psychologique pour les migrants, l’ethnopsychanalyse, l’élaboration de documents de travail pour les psychologues et le soutien de tout projet concernant la relation mère-enfant en France et dans le monde. Elle s’inscrit dans la démarche de la psychologie clinique en abordant le transculturel.</p>
{% endblock %}