{% extends "SRBlogBundle::layout.html.twig" %}
{% block title %}AHUEFA International France - Association loi 1901{% endblock %}

{% block carousel %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://lh3.ggpht.com/_vFRqCMUVmt8/TMVnMplsNyI/AAAAAAAAHJc/p0o9au4jZeQ/image%5B2%5D.png?imgmax=800" alt="...">
        <div class="caption">
          <h3>Le Voyage Transculturel</h3>
          <p>Le « Voyage transculturel » est un débat-cinéma mensuel organisé par l’association Ahuefa International France, en collaboration avec le Ciné 104 et la Ville de P</p>
          <p><a href="{{path('sr_blog_actions_voyage_transculturel')}}" class="btn btn-primary" role="button">Découvrir</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://lh3.ggpht.com/_vFRqCMUVmt8/TMVnMplsNyI/AAAAAAAAHJc/p0o9au4jZeQ/image%5B2%5D.png?imgmax=800" alt="...">
        <div class="caption">
          <h3>Consultation psychologique individuelle</h3>
          <p>Les consultations sont données par Laura Tarafas, qui est psychologue du développement et psychologue clinicienne </p>
          <p><a href="sr_blog_actions_consultation" class="btn btn-primary" role="button">Découvrir</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://lh3.ggpht.com/_vFRqCMUVmt8/TMVnMplsNyI/AAAAAAAAHJc/p0o9au4jZeQ/image%5B2%5D.png?imgmax=800" alt="...">
        <div class="caption">
          <h3>Le Voyage Transculturel</h3>
          <p>Le « Voyage transculturel » est un débat-cinéma mensuel organisé par l’association Ahuefa International France, en collaboration avec le Ciné 104 et la Ville de P</p>
          <p><a href="{{path('sr_blog_actions_voyage_transculturel')}}" class="btn btn-primary" role="button">Découvrir</a></p>
        </div>
      </div>
    </div>
</div>
{% endblock %}