{# src/SR/BlogBundle/Resources/views/Main/mediationDef.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}

<div class="contenu_static">
	<h2> LA MÉDIATION ETHNOCLINIQUE - DEFINITION</h2>

	
	<h3>Un concept élaboré par ahuefa</h3>

	
	<h4>Définition</h4>

	<p>
	Par médiation ethnoclinique, l’Association AHUEFA International France entend l’aide psychologique aux familles migrantes et/ou dans la précarité à domicile. Cette intervention coordonne l’action d’un psychologue formé à la clinique transculturelle, avec un(e) interprète appartenant à la même aire culturelle que la famille concernée et sensibilisé(e) à la dimension psychologique de la problématique des migrants.
	</p>
	
	<h4>Origine du concept</h4>
	<p>
	La médiation ethnoclinique a trouvé sa raison d’être grâce à la demande de travailleurs médico-psycho-sociaux confrontés à des difficultés complexes dans leurs missions auprès de migrants qui, du fait de leur souffrance, restent confinés chez eux. Cette pratique s’inscrit donc dans le cadre d’un travail en réseau avec des infrastructures médicales sociales, éducatives et judiciaires.
	</p>
	<p>
	Pour répondre au plus près des besoins des partenaires relatifs au champ de l’interculturel, l’association s’est dotée, dans une perspective de prévention, de modalités souples permettant :
	</p>
	<p>
	d’une part, de créer un espace de communication entre la personne souffrante et l’institutionnel qui en porte la demande.
	d’autre part, de co-construire un univers de sens avec comme partenaires la ou les personnes en souffrance et le(s) travailleur(s) institutionnel(s).
	 </p>

	<h4>Choix des modes d’intervention</h4>

	<p>
	Les modes d’intervention s’articulent autour des choix suivants :
	</p>
	<p>
	1) La médiation ethnoclinique s’inspire de la consultation ethnopsychiatrique [1].
	</p>

	<ul>
		<li>sur le plan de la méthode, elle a pour assise le principe méthodologique de l’ethnopsychanalyse puisant, de manière complémentariste (G. Deverreux), à deux sources théoriques : l’anthropologie et la psychanalyse (voir à ce sujet notre article sur la méthode complémentariste).</li>
	</br>
		<li>comme la consultation ethnopsychiatrique, c’est une intervention de deuxième intention construite à partir de la relation « duelle » initiale (intervenant institutionnel/famille), c’est-à-dire qu’elle intervient après que la famille ou la personne en difficulté ait été prise en charge initialement par l’institution.</li>
	</br>
		<li>enfin, le binôme constitué par le psychologue clinicien formé à la clinique transculturelle et l’interprète, condense le dispositif d’ethnopsychanalyse sous une forme plus adaptée à ce cadre spécifique, et susceptible de faciliter l’approche multidimensionnelle et partenariale.</li>

	</ul>
	

	<p>
	2) La médiation ethnoclinique diffère de la consultation ethnopsychiatrique uniquement car le travail peut se faire au domicile des familles ou dans un lieu investi par elles comme le local ou lieu d’accueil institutionnel du professionnel référent.
	</p>

	<ul>
		<li>Elle se réfère à une pratique bien connue des médecins généralistes, travailleurs sociaux (sages-femmes de P.M.I notamment) et des médiateurs socioculturels.</li>
		<br>
		<li>Cette modalité d’intervention a prouvé sa pertinence dès les années 1990 dans certains types de prises en charge : par exemple en pédopsychiatrie avec la méthode d’observation directe du nourrisson à domicile, mise au point par la psychanalyste Esther BICK.</li>
		<br>
		<li>Elle emprunte à la médiation socioculturelle certains éléments techniques. Elle se définit comme une situation à trois pôles qui requiert la différence, l’altérité, et la relation.</li>
	</ul>

	
	<p>
		Ternaire dans sa structure, on la décrit aussi comme un processus dont l’objectif est :
	</p>
	<ul>
		<li>d’établir ou rétablir une communication</li>
		<li>de permettre une compréhension réciproque qui touche trois domaines : linguistique, social et culturel (traduction des mots, des notions, mais aussi des codes, des valeurs des systèmes de pensées…)</li>
		<li>de faire circuler entre les deux parties les éléments d’information et de compréhension, nécessaires à une réelle mise en relation.</li>
	</ul>
	
	<p>
	C’est une pratique d’immersion et de proximité qui nécessite cependant une distanciation.
	L’ensemble de ces caractéristiques implique une flexibilité du cadre indispensable à l’instauration de l’alliance de travail.
	Les intervenants sont tenus à un devoir de confidentialité et à l’impartialité.
    </p>
	<h4>Cadre théorique</h4>
	<p>
	Le corpus conceptuel de référence dans la médiation ethnoclinique telle qu’elle s’exerce à AHUEFA est d’inspiration ethnopsychanalytique. Le psychologue est garant de la rigueur méthodologique du cadre, et il se réfère au code de déontologie des psychologues.
	</p>
	 

	<h4>Composition du groupe</h4>
	<p>
	La médiation ethnoclinique est ternaire dans sa structure dans laquelle le binôme (psychologue (s)-interprète) tel qu’il est décrit plus haut constitue l’un trois des pôles.
	</p>

	<p>Face au binôme, le groupe intègre en son sein :</p>

	<ul>
		<li>le demandeur institutionnel de la médiation ethnoclinique qui prend place dans le dispositif ainsi constitué en qualité d’accompagnant. Cette modification de son statut dans cet espace le rend partenaire du processus initié.</li>
		<li>les membres de la famille qui le souhaitent.</li>
	</ul>
	
	
	 

	<h4>Fonction du groupe</h4>
	<p>
	Le groupe assure une fonction d’étayage et de médiatisation des espaces, d’une part entre les techniques de prise en charge traditionnelles qui vont des thérapies aux réunions du type « assemblée du village » et d’autre part entre les psychothérapies classiques. La médiation a une fonction de passeur et ne se confond avec aucune d’elles. Le cadre de la médiation ethnoclinique assure donc une fonction de réceptacle qui accueille le cadre interne du sujet souffrant et tend à la co-construction du sens.
	</p>

	<h4>Rôle du psychologue</h4>
	<p>
	Le rôle du psychologue est déterminant. Il énonce les règles de fonctionnement de la médiation y compris dans son rapport au secret professionnel. Il procède à la reformulation des propositions émises lors de la séance. La dimension psychodynamique inhérente à sa fonction permet l’émergence des potentialités des personnes concernées par ce type de prise en charge et une remobilisation de l’énergie psychique de chacun. Sa position doit être clairement identifiée par les membres présents dans chaque séance. C’est également à ce titre qu’il peut assurer la non-dangerosité du groupe.
	</p>

	<h4>Rôle de l’interprète</h4>
	<p>
	L’interprète est celui qui, au-delà de la traduction stricte, a un rôle de passeur entre deux espaces linguistiques sur lequel, s’appuie le psychologue. Sa collaboration directe avec le psychologue ne réduit en rien son devoir d’impartialité entre les parties. Il aide à la compréhension du contenu des discours en explicitant à la demande du psychologue, les codes, valeurs propres à la langue. Il initie toujours par le biais du psychologue au système de pensée et aux représentations partagées entre les familles et lui-même.
	</p>
	<p>
	Cette répartition des rôles clarifie les positions, participe à la cohérence de l’acte de médiation donc incite à penser.
	Rôle de l’accompagnant
	L’accompagnant est généralement celui qui porte la demande de médiation. Il peut associer à l’action tout autre intervenant soucieux de prendre en compte les éléments dégagés en médiation. Ensemble, ils constituent un des trois pôles, en interaction avec les autres parties, qui rend possible l’action basée sur une alliance déjà établie ou en cours d’élaboration.
	</p>
	<p>
	Dans ce cadre les intervenants en position d’accompagnant tendent à se décentrer de leurs propres représentations. Ces éprouvés contribuent à la réorganisation éventuelle de la relation à une meilleure structuration de l’empathie pour la poursuite de leur propre travail.
	</p>

	<h4>Lieu d’intervention</h4>
	<p>
	Le choix du lieu d’intervention est préférentiellement le domicile ou un lieu investi par la personne en souffrance et désigné spécialement par elle pour y travailler ensemble.
	</p>

	<p>
	Cela implique une confiance préalable établie entre l’accompagnant et le sujet en souffrance, basée sur l’identification d’un certain nombre de difficultés repérées généralement dans les familles carencées :
	</p>

	<ul>
		<li>peur de l’envahissement (local de l’institution demandeur comme lieu tiers</li>
		<li>incapacité à sortir d’un espace théâtre de dysfonctionnements.</li>
	</ul>
	
	<p>
	Cette approche par le travail à domicile est perçue comme un témoignage d’une attention plus grande à l’ensemble de la problématique de la personne. L’expérience prouve que l’un des signes de souffrance chez les migrants est précisément une forme d’isolement qui tient la famille à distance des contacts avec l’environnement social proche.
	La médiation ethnoclinique reste l’outil majeur par lequel l’association AHUEFA apporte l’aide psychologique aux familles migrantes et/ou dans la précarité.
	Mais celle-ci prend aussi la forme d‘une action dans la cité sous diverses modalités. Le groupe des NAVIES rassemble pour sa réalisation les différentes compétences qui sont représentées dans l’Association et qui concourent à créer un espace de communication essentiel pour l’approche transculturelle développée par la médiation ethnoclinique à AHUEFA International France.
	</p>
	<p>
	[1] Marie-Rose Moro « Psychothérapie des enfants de migrants » pag. 97-125
	</p>
	<p>
	[2] Roger Misès « Le travail en réseaux » in l’enfant, ses parents et le psychanalyste sous la direction de Claudine Geissmann et Didier Houzel. Pag 987.
    </p>
    <p>
	[3] Georges Deverreux
	</p>
	

 </div>
{% endblock %}