{% extends "SRBlogBundle::layout.html.twig" %}

{% block content %}

<div class="contenu_static">
	<h2>La Médiation Ethnoclinique - Les étapes</h2>
	<h3>La préparation</h3>
	         
	<p>
	Le temps de préparation ou pré médiation consiste en une série de rencontres de concertation dans un groupe restreint ou lors de réunions de synthèse en présence de l’ensemble des professionnels de l’institution impliqués dans le suivi. Ce temps peut, selon le cas, déboucher rapidement sur une intervention du binôme de l’association AHUEFA auprès de la famille, mais il peut aussi être le prélude à une maturation et à la construction de l’alliance nécessaire entre le demandeur et la famille concernée. C’est une véritable période de gestation avant la mise en route du travail de médiation ;
	</p>

	<h3>L'intervention</h3>

	<p>
	L’intervention en elle-même, se déroule en principe sur une période généralement comprise entre trois et huit mois.
	Chaque séance dure 2 heures, à raison d’une séance toutes les quatre à six semaines, laissant à l’accompagnant son espace professionnel propre dans son suivi spécifique.
	</p>

	<h3>Les reprises</h3>
	<p>Les échanges sont précieux pour la compréhension du matériel recueilli au cours des séances. Ils ont lieu sous différentes formes au cours de la prise en charge</p>

	<ul>
		<li>après chaque rencontre à chaud et de manière informelle</li>
		<li>à distance des séances dans les réunions pluridisciplinaires qui offrent au binôme l’opportunité de prendre la mesure des représentations à l’œuvre autour de l’enfant et sa famille par exemple.</li>
	</ul>

	<p>La participation à ces groupes de travail contribue à articuler les temps disjoints, à coordonner les actions dans une dimension transversale, en y associant les intervenants extérieurs à l’institution initiatrice de ce travail. Ces réunions sont les lieux par excellence où les échanges ont aussi un effet de sensibilisation à l’altérité du sujet souffrant.
	</p>
	<p>Dans « Le travail de réseau », Roger Mises dit :</p>

	<blockquote>
	<p class="italic">« les rencontres se révèlent créatrices de liens et de pensées entre les Personnes adultes et participent à la revitalisation »</p>
	</blockquote>

	<p>L’ensemble de ces actions remobilise l’imaginaire à l’intérieur et autour de l’environnement familial.</p>

	 <h3>Pour en savoir plus :</h3>
	<li><a href="{{path('sr_blog_actions_mediation_definition')}}">Définition</a></li>
	<li><a href="{{path('sr_blog_actions_mediation_travail')}}">Le travail de groupe entre professionnels</a></li>



</div>
{% endblock %}