{# src/SR/BlogBundle/Resources/views/Main/mediation.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}
          <p> LA MÉDIATION ETHNOCLINIQUE</p></br>

          <p>

La médiation ethnoclinique est une intervention de 2ème intention, elle vise la co-construction de sens entre divers univers culturels. Elle s’appuie sur la méthode complémentariste de l’ethnopsychanalyse.

Ce dispositif permet d’explorer des pistes donnant accès à des éléments psychoculturels et surtout aux transmissions inconscientes.


Ce dispositif groupal réunit trois pôles :
L’équipe d’AHUEFA (constitué de psychologues cliniciens, et d’interprète et/ou de référents culturels).
La personne en souffrance, avec ou sans sa famille selon le travail entamé.
Les référents professionnels qui accompagnent la personne (éducateurs et éducatrices, assistantes sociales, psychologues)
 

Le concept de la médiation ethnoclinique mis en place par Ahuefa International France dès ses débuts, a été rédigé en 1998 par la directrice et fondatrice de l’association Léocadie Ekoué, ethnopsychologue, psychologue clinicienne et anthropologue, puis revu en 2000.

 

Pour en savoir plus :
<li><a href="{{path('sr_blog_actions_mediation_definition')}}">Définition</a></li>
<li><a href="{{path('sr_blog_actions_mediation_etapes')}}">Les étapes</a></li>
<li><a href="{{path('sr_blog_actions_mediation_travail')}}">Le travail de groupe entre professionnels</a></li>


    </p>
{% endblock %}