{# src/SR/BlogBundle/Resources/views/Main/mediationTravail.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}
	
	<div class="contenu_static">
	<h2> La Médiation Ethnoclinique - Appui aux professionnels du secteur médico-social</h2>

	<p>
	La médiation ethnoclinique est un travail de groupe permettant d’aider les professionnels du secteur médico-socio-éducatif.
	</p>

	<p>
	Les rencontres de l’association AHUEFA sont développées pour les professionnels : l’objectif est d’aider chaque acteur de terrain en mission auprès des familles en difficulté à faire face à la complexité de certaines situations en prenant en compte la dimension culturelle.
	</p>

	<p>
	Pour ce faire, l’association organise pour ses membres un groupe de travail au cours duquel une analyse de la pratique est proposée. Les actes de médiation ethnoclinique font ainsi dans ce cadre l’objet d’une reprise en interne.
	</p>

	<p>
	Le groupe de travail admet néanmoins les accompagnants institutionnels concernés par chaque situation. Il permet surtout d’aider les professionnels de l’association au repérage des mouvements transférentiels et contre-transférentiels (concepts psychanalytiques).
	</p>

	<p>
	Le processus de médiation se développe ainsi dans un continuum assez souple et particulièrement riche en capacités créatrices, qui soutient les acteurs sur le terrain, dans le respect de la spécificité de chacun.
	De par la flexibilité du cadre d’intervention, AHUEFA trouve dès lors sa place dans un travail en réseau avec les institutions et les associations existantes oeuvrant dans le champ du social.
	Ses modalités de prise en charge s’intègrent à toutes les demandes à condition qu’elles se situent en deuxième intention et pour une durée déterminée.
	</p>

	<p>Concernant la famille en souffrance, l’aide psychologique qui en découle s’entend à trois niveaux :</p>

	<ul>
		<li>la dimension individuelle (psychique)</li>
		<li>la dimension sociale (familiale)</li>
		<li>la dimension culturelle (les représentations culturelles, l’histoire transgénérationnelle).</li>
	</ul>

	<p>Concrètement, AHUEFA s’adresse de fait aux professionnels en difficulté dans leurs missions, dans le cadre d’une aide à l’évaluation et à la prise de décision.</p>

</div>

	<h3>Pour en savoir plus :</h3>
	<li><a href="{{path('sr_blog_actions_mediation_definition')}}">Définition</a></li>
	<li><a href="{{path('sr_blog_actions_mediation_etapes')}}">Les étapes</a></li>




{% endblock %}