{# src/SR/BlogBundle/Resources/views/Main/objectif.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}
<div class="contenu_static">
	 <h2>Nos Objectifs Principaux</h2>
	<ul>
		<li>Aide psychologique aux familles en situation de rupture, en état de crise et de précarité, induisant des débordements psychiques, physiques ou sociaux. <a href="{{path('sr_blog_actions_mediation')}}">En savoir plus…</a>
		</li>
	</br>
		<li>Aide aux travailleurs médico-sociaux et aux institutions administratives et judiciaires, qui sont confrontés à des difficultés particulières dans l’exercice de leur mission auprès de ces familles issues de diverses cultures. Il est proposé aux professionnels seuls, comme espace de construction de sens pour penser des situations complexes et/ou conflictuelles.  <a href="{{path('sr_blog_actions_appui_pro')}}">En savoir plus…</a>
		</li>
	</ul>
	    	 

	<h2>Nos Autres Activités</h2>
	 

	 <ul>
	 	<li>Élaboration de supports de transmission et de sensibilisation dans une perspective de prévention.</li>
	 	</br>
	 	<li>Sensibilisation et formation sur les représentations et les stéréotypes culturels, à travers des séminaires, des interventions ou à la participation à des évènements d’autres organisations. <a href="{{path('sr_blog_evenement')}}">En savoir plus…</a>
	 	</li>
	 	</br>
	 	<li>Soutien de projets en France ou ailleurs, portant notamment sur la relation mère-enfant.</li>
	 </ul>

</div>
{% endblock %}