{# src/SR/BlogBundle/Resources/views/Main/partenaire.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}
          <p> Nos partenaires</p></br>

          <p>
          Nous remercions pour leur participation à nos actions présentes ou passées l’ensemble de nos partenaires : associations, organisations, et institutions publiques.
Grâce à vous, nous pouvons continuer à avoir une action bénéfique et continuer à mener une réflexion citoyenne de qualité autour des débats-cinéma et événements du voyage transculturel.
NOS PARTENAIRES

L’ACSE (Agence nationale pour la Cohésion Sociale et l’Egalité des chances)
L’Asso de l’écran 104
Le Centre social de Pantin Quatre Chemins
Le centre socio-culturel du Haut et Petit Pantin
Le Conseil général du Val de Marne
Le CDVA (Conseil pour le Développement de la Vie Associative)
Le Ciné 104 (Pantin)
La Fondation de France
La Fondation Giacinto et Hélène Accorner
La Ville de Pantin
L’Aide Sociale à l’Enfance (ASE)
Tanguy Bodin-Hullin, psychologue clinicien
    </p>
{% endblock %}