{% extends "SRBlogBundle::layout.html.twig" %}

{% block content %}
<h2> Nos remerciements</h2>

	<p>
	Nous remercions pour leur participation à nos actions présentes ou passées l’ensemble de nos partenaires : associations,
		organisations, et institutions publiques. Grâce à vous, nous pouvons continuer à avoir une action bénéfique et continuer
		à mener une réflexion citoyenne de qualité autour des débats-cinéma et évènements du voyage transculturel.
	</p>

	<h3>Partenaires</h3>

	<ul>
		<li><a href="http://www.lacse.fr/wps/portal/internet/acse/accueil/">L’ACSE</a>(Agence nationale pour la Cohésion Sociale et l’Egalité des chances)</li>
		<li>L’Asso de l’écran 104</li>
		<li><a href="http://www.ville-pantin.fr/maison_de_quartier_des_quatre_chemins.html">Le Centre social de Pantin Quatre Chemins</a></li>
		<li>Le centre socio-culturel du Haut et Petit Pantin</li>
		<li><a href="http://www.valdemarne.fr/?redirect=cg94">Le Conseil général du Val de Marne</a></li>
		<li>Le CDVA (Conseil pour le Développement de la Vie Associative)</li>
		<li><a href="http://www.cine104.com/">Le Ciné 104 (Pantin)</a></li>
		<li><a href="http://www.fondationdefrance.org/">La Fondation de France</a></li>
		<li>La Fondation Giacinto et Hélène Accorner</li>
		<li><a href="http://www.ville-pantin.fr/">La Ville de Pantin</a></li>
		<li>L’Aide Sociale à l’Enfance (ASE)</li>
		<li>Tanguy Bodin-Hullin, psychologue clinicien</li>
	</ul>

	<h3>Spécialistes et intervenants</h3>

	<ul>
		<li>Mr Akshay Bakaya</li>
		<li>Dr Claude Egullion</li>
		<li>Mr Noam Levy</li>
		<li>Dr Marie Marand</li>
		<li>Mme Rachida Slimani</li>
	</ul>

{% endblock %}