{% extends "SRBlogBundle::layout.html.twig" %}

{% block content %}

    <h2>Séminaire et Formations</h2>
    <h3><u>Séminaires</u></h3>
    <p>Ahuefa organise des séminaires de sensibilisation aux représentations culturelles et stéréotypes. Ils sont ouverts à tous.</p>

    <h4>Objectifs de l’action :</h4>
    <ul>
        <li>Penser la diversité quelle qu’elle soit </li>
        <li>S’enrichir de nos différences respectives et de nos compétences. </li>
        <li>Se réapproprier sa propre pensée et la développer en société tout en écoutant l’autre.</li>
        <li>Lutter contre les discriminations sous toutes ses formes </li>
    </ul>
    <h4>Moyens mis en œuvre :</h4>
    <p>L’approche transculturelle par l’ethnopsychanalyse permet d’aborder la problématique de la lutte contre les
        discriminations dans toute sa complexité et son historicité.
    </p>
    <h4>Cadre technique : </h4>
    <p>Cette sensibilisation se fait par étape, par : </p>
    <ul>
        <li>des apports théoriques très accessibles à toutes les couches du public attendu avec des invités spécialistes
            des sciences humaines.
        </li>
        <li>des discussions autour de situations proposées par les participants </li>
        <li>des jeux de rôle et mises en situation</li>
        <li>des repas conviviaux </li>
    </ul>
    <h4>Moyens humains : </h4>
    <p>La sensibilisation est assurée par un binôme constituée par un intervenant extérieur et un ethnopsychologue de
        l’association.
    </p>
    <p>L’alternance des temps de réflexion et de convivialité est animée par le binôme de spécialistes avec la
        participation de l’équipe de AHUEFA afin d’initier un processus de réflexion au long cours.
    </p>

    <h3><u>Formations/Encadrements à AHUEFA</u></h3>
    <ul>
        <li>Formation initiale des psychologues cliniciens, de psychologues en formation.
            La partie théorique se fait actuellement en petits groupes, selon les besoins de l’Association, par sessions.
            Puis un stage pratique est organisé, avec un principe de tutorat. Ce stage est diplômant dans le cadre de
            l’accord conclu avec les Universités de Paris V,  VII, VIII, X, XIII pour les étudiants de Master I et II
            de Psychologie Clinique Interculturelle.
        </li>
        <br>
        <li> Formation initiale des Interprètes/référents culturels. Elle repose sur les mêmes principes, avec un
            contenu adapté.
        </li>
        <br>
        <li>
            Analyse de la pratique et appui technique aux professionnels:
            <ul>
                <li>L’analyse de la pratique constitue l’espace par excellence de la formation continue. Elle concerne
                    tous les intervenants des actions menées par AHUEFA. Elle associe psychologues et stagiaires
                    psychologues d’AHUEFA en réunion interne. <br>
                    Elle se fait régulièrement à travers des réunions d’Aide à la décision, commanditées par des
                    Institutions, dans le cadre par exemple de l’AEMO (Aide Educative en Milieu Ouvert) de
                    suivis médico psychologiques de la petite enfance pour la question du sens des troubles observés.
                </li>
                <br>
                <li>L’appui technique aux professionnels : un espace de construction de sens
                    L’appui technique est proposé aux professionnels seuls, comme espace de construction de sens qui aide
                    à repenser certaines situations complexes. <br>
                    Les professionnels du champ médico-social confrontés à des difficultés particulières dans leur mission
                    auprès des familles et dont les outils habituels n’aboutissent pas aux résultats attendus peuvent
                    avoir recours à cet appui. <br>
                    Il consiste en une rencontre où le professionnel demandeur expose la situation de la famille et les
                    difficultés qu’il rencontre. L’ethnopsychologue en charge de cette rencontre tente d’apporter les
                    éclairages et les outils pour débloquer la situation et explorer de nouvelles pistes. <br>
                    Ces séances se déroulent dans le strict respect du secret professionnel.
                </li>
            </ul>
        </li>
    </ul>

{% endblock %}