{% extends "SRBlogBundle::layout.html.twig" %}

{% block content %}

	<h2> Soutien psychologique avec suivi individuel pour les enfants et les adolescents.</h2>
	<p>
		Les consultations sont données par Rogini SAGADEVIN et Mary-Grâce LAURON, psychologues cliniciennes, et
		sensibilisées à l’approche transculturelle.
	</p>
	<p>Les consultations se font sur rendez-vous.</p>
	<p>Des permanences ont lieu à la maison de quartier du Petit Pantin.</p>
	<p>Tous les</p>
	<ul>
		<li> premiers Lundis du mois de 15h00 à 18h00 (à la Maison de quartier du Petit Pantin)</li>
		<li> autres Lundis de 15h à 18h (au local de l’association, 13 rue Courtois – 93500 Pantin)</li>

	</ul>
	<h2>Pour tout renseignement contactez :</h2>
	<ul>
		<li>l’association AHUEFA au 01 48 45 93 23</li>
		<li>Mail : ahuefai.france@gmail.com</li>

	</ul>

{% endblock %}