{# src/SR/BlogBundle/Resources/views/Main/soutien.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}
          <p> Soutien psychologique avec suivi individuel pour les enfants et les adolescents.</p></br>

          <p>
Les consultations sont données par Laura Tarafas, qui est psychologue du développement et psychologue clinicienne, et sensibilisée à l’approche transculturelle.

Laura Tarafas est en cours de formation au sein de l’Association Hongroise de Psychothérapie Intégrative. Cette spécificité lui offre un champ de compétences plus étendu, afin de pouvoir s’adapter aux différents besoins des enfants et des adolescents. La thérapie s’enrichit de méthodes différentes, comme le jeu de sable, la katathyme-imaginative psychothérapie, des éléments issus des techniques de psychodrame individuel, et l’analyse transactionnelle.

Langues parlées : hongrois langue maternelle, français courant, anglais courant.

Les consultations se font sur rendez-vous.

Des permanences ont lieu à la maison de quartier Diderot (dépendante du Centre Social des 4 Chemins), située 148-150 av. Jean Jaurès à Pantin. Accès par le Métro 7 Aubervilliers Quatre Chemins ou le bus 152 Arrêt Eglise.

tous les

Mercredi de 9h30 à 12h30 (à la Maison de quartier Diderot)
Jeudi de 9h30 à 13h00 (au local de l’association, 13 rue Courtois – 93500 Pantin)
Pour tout renseignement contactez :

l’association AHUEFA au 01 48 45 93 23
Mél : ahuefai.france [at] gmail [point] com

    </p>
{% endblock %}