{% extends "SRBlogBundle::layout.html.twig" %}

{% block content %}

<h2>Visite médiatisée</h2>

<p>La visite médiatisée est organisée dans le cadre d’une mesure de prise en charge ou de placement en protection de l’enfance.</p>

<p>Les demandes de visites enfants/parents nous sont adressées soit :</p>

<ul>
    <li>suite à l’ordonnance du juge désignant l’association</li>
    <li>à la demande des services de l’Aide Sociale à l’Enfance (ASE).</li>
</ul>

<p>
Elle s’adresse à des parents et des enfants qui ont besoin d’être soutenus dans la reprise ou le maintien des liens
familiaux. De ce fait, elle offre un espace de rencontre sécurisé entre les enfants et les parents, permettant l’exercice
 de leur droit de visite.
</p>

<p>
Un binôme de psychologues cliniciens formés à la transculturalité encadre la visite. Un interprète référent culturel peut
également être présent sur la demande du service qui suit l’enfant. La spécificité de notre approche contribue à prendre
en compte à la fois l’histoire familiale mais également la dimension culturelle, amenées par la famille. Cette approche
de l’équipe favorise une meilleure appréhension des problématiques de la famille.
</p>

<p>
Les visites s’organisent toute la semaine mais le plus souvent le mercredi et le jeudi après-midi.  Chaque visite dure
1h avec une fréquence variable selon la situation. Le calendrier des rencontres est fixé en fonction des disponibilités
de la famille et des services.
</p>

<p>
Les enfants sont accompagnés soit par un des parents soit par un professionnel, qui revient les chercher lorsque
la visite avec le/les parents arrive à terme.
</p>

<p>
L’objectif des visites est d’aider le(s) parent(s) et l’enfant à construire ou reconstruire leurs relations et à les
consolider. Elle vise également à soutenir les parents dans l’émergence et/ou le renforcement des compétences parentales.
</p>

<p>
L’équipe soutient chaque membre de la famille dans l’évolution du lien.
</p>
{% endblock %}