{# src/SR/BlogBundle/Resources/views/Main/voyage.html.twig #}
{% extends "SRBlogBundle::layout.html.twig" %}

{% block body %}
          <p> Le Voyage transculturel</p></br>

          <p>

Le « Voyage transculturel » est un débat-cinéma mensuel organisé par l’association Ahuefa International France, en collaboration avec le Ciné 104 et la Ville de Pantin.

L’évènement s’organise autour de la projection d’un film qui aborde dans toute leur multitude la culture, la diversité, les communautés ou les sociétés, en France ou ailleurs ; qui nous a touché et que nous avons eu envie de partager.

La projection est suivie d’un débat, moment privilégié d’échanges et de réactions entre le public et les invités d’Ahuefa, qui ont participé au film.

Enfin, nous nous retrouvons dans l’espace de réception du Ciné 104, où l’association convie chacun à poursuivre la discussion autour d’un buffet, accompagné par les animations des artistes, musiciens et invités.

C’est l’occasion pour les membres d’Ahuefa et un public toujours plus nombreux, de se rencontrer et de penser la diversité culturelle en relation avec le développement dans la cité.
A travers ce projet, l’association Ahuefa collabore avec de nombreux artistes (réalisateurs, plasticiens, musiciens). 

Informations
L’évènement se tient au Ciné 104 – 104, avenue Jean Lolive – 93500 Pantin. (Métro : Eglise de Pantin, ligne 5)
Vous trouverez les dates des prochaines séances du Voyage transculturel sur notre page Facebook.
Pour recevoir directement par e-mail les prochaines dates du Voyage transculturel, communiquez-nous votre e-mail dans le champ dédié de la colonne droite de la page.
Retrouvez régulièrement les compte-rendus des derniers Voyage transculturel sur notre site, à la page événements.
Retrouvez les liens vers les sites des artistes sur la page Liens
Le tarif* moyen d’un billet pour Le Voyage transculturel est de 4,00€, collation comprise**.

    </p>
{% endblock %}